# ignore files generated during compilation process
*.aux
*.log
*.synctex.gz
*.doc
*.docx
*.msg
*.bbl
*.bcf
*.blg
*.out
*.run.xml
*.txss
*.xdv
*.dvi
*.ps
Readmission-blx.bib
RDMCHECK.LST.pdf
Readmission(word).pdf
form.*
BankCert.jpg
20160520035317301_0001.pdf
Cornell International Financial Ability Form-1.pdf
